#filament-table {
  margin-left:4em;
  padding-left:5px;
  padding-right:5px;
  border-collapse: collapse;
}

.filament-row {
  border-bottom:solid;
  border-width:1px;
}

.filament-row:last-child {
  border-bottom:none;
}

#stats-table, #stats-row {
  width:100%;
}
