.header {
  font-family:"Manrope";
}

#title {
  padding-left:1em;
}

#filaments-title, #printers-title {
  padding-left:2em;
  font-weight:bold;
}

.button {
  border:none;
  background-color:#F69856;
  transition:background-color 0.25s;
  padding-left:1em;
  padding-right:1em;
}

.button:hover {
  border:none;
  background-color:#E48441;
}

.stat {
  font-family:"Manrope";
  font-size:1.5em;
  font-weight:bold;
  text-align:center;
}

.product-info-text {
  font-family:"Trebuchet MS";
  font-size:1em;
}

.stat-value {
  font-family:"Trebuchet MS";
  font-size:1.25em;
  font-weight:normal;
}

.printer-display {
  text-align:center;
}

.printer-display-status {
  font-family:"Manrope";
  font-size:1.5em;
  font-weight:bold;
}

.error-message, .print-time {
  font-family:"Trebuchet MS";
  font-size:1em;
  font-style:italic;
}

.error-message {
  color:rgb(255,0,0);
}

.can-afford {
  color:rgb(51,51,51);
  font-style:italic;
}

.no-afford {
  color:rgb(255,0,0);
  font-style:italic;
}

.filament-title, .product-info-title {
  font-family:"Trebuchet MS";
  font-size:1.5em;
  font-weight:bold;
  text-align:left;
}

.product-info-title {
  font-size:1.25em;
  text-align:center;
  margin-top:0px;
  margin-bottom:10px;
  font-family:"Trebuchet MS";
}

.filament-grams {
  font-family:"Trebuchet MS";
  font-size:1.5em;
  text-align:right;
  padding-left:1em;
}

.filament-buy-spool-button,.print-button {
  font-family:"Trebuchet MS";
  font-size:1.25em;
  text-align:center;
  margin-left:1em;
  margin-bottom:5px;
  margin-top:5px;
  padding:0.25em;
}

.printer-title {
  font-family:"Trebuchet MS";
  font-size:1.5em;
  font-weight:bold;
  text-align:center;
  margin-bottom:0px;
}

.printer-type {
  font-family:"Trebuchet MS";
  color:rgb(51,51,51);
  font-style:italic;
  margin-top:0px;
  text-align:center;
}
